header {
  background: #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 125px;
  right: 0;
}

nav li {
  display: inline-block;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

nav a:hover {
  color: #c19c17;
  text-decoration: underline;
}

nav a:active {
  color: #85b5c3ea;
}

#banner {
  width: 100%;
}

.principal {
  background: #85b5c3ea;
  padding: 30px;
  text-align: center;
  height: auto;
}

.titulo_centralizado {
  text-align: center;
  font-size: 30px;
  margin-bottom: 1%;
}

#missao {
  font-size: 22px;
  margin: 1% 0;
}

em strong {
  color: #c19c17;
}

.beneficios {
  background: url(../images/beneficios.jpg) no-repeat;
  background-size: 100%;
  padding: 20px;
}

.titulo_beneficios {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 1%;
}

.lista_beneficios {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 5% 10%;
}

.item_lista {
  color: #ffffff;
  font-style: italic;
  font-size: 25px;
  margin-bottom: 15%;
}

.imagem_beneficios {
  width: 50%;
}

footer {
  background: url(../images/bg.jpg);
  text-align: center;
  padding: 40px 0;
}

.copyright {
  font-size: 12px;
  margin-top: 20px;
  color: #ffffff;
}
