header{
    background: #CCCCCC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    position: relative;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    position: absolute;
    top: 125px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.produtos{
    padding-top: 50px;
    width: 940px;
    margin: 0 auto;
}

.produtos li{
    display: inline-block;
    align-items: center;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 30px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos_descricao{
    font-size:18px;
}

.produtos_preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}