header {
  background: #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  position: absolute;
  top: 125px;
  right: 0;
}

nav li {
  display: inline-block;
  margin-left: 15px;
  transition: all 0.4s;
}

nav li:hover{
  transform: scale(1.1);
  transition-property: inherit;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  transition: all 0.2s;
}

nav a:hover {
  color: #c19c17;
}

nav a:active {
  color: #85b5c3ea;
}

.produtos {
  padding-top: 50px;
  width: 940px;
  margin: 0 auto;
}

.produtos li {
  display: inline-block;
  align-items: center;
  text-align: center;
  vertical-align: top;
  width: 30%;
  margin: 0 1.5%;
  box-sizing: border-box;
  padding: 30px 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  transition: all 0.5s;
}

.produtos li:hover{
  border-color: #c19c17;
  color: #c19c17;
  transform: scale(1.05);
}

.produtos li h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.produtos_descricao {
  font-size: 1em;
}

.produtos_preco {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  background: url(../images/bg.jpg);
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
}

footer .copyright {
  color: #ffffff;
  font-size: 12px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .container, .produtos{
    width: 100vw;
  }

  .container{
    text-align: center;
  }

  nav {
    position: static;
  }

  nav li a {
    font-size: 1.1rem;
  }

  .produtos li {
    display: block;
    margin: 0 auto 20px;
    width: 80%;
  }
}
